@model DtoEntityProject.DoctorRequest
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Doctor</title>
</head>
<body>
    <div class="form-group text-left">
        <form>
            <input type="button" class="btn btn-info" value="Back" onclick="@("window.location.href='" + @Url.Action("GetAll", "Doctor") + "'");">
        </form>
    </div>
    <div class="container-fluid col-6">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-left mb-2">Create Doctor</h4>
                <div class="child text-center flex-child">
                    <p class="error_message">@ViewBag.Errors</p>
                </div>
                <form asp-controller="Doctor" asp-action="Add" method="post">
                    <div class="form-group">
                        <label asp-for="FirstName">First name<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">Last name<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address">Address<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Phone<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Specialization">Specialization<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="Specialization" />
                        <span asp-validation-for="Specialization" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoursPerDay">Hours Per Day<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="HoursPerDay" />
                        <span asp-validation-for="HoursPerDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth">Date of birth<span class="text-danger">*</span></label>
                        <input class="datepicker form-control" asp-for="DateOfBirth" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email<span class="text-danger">*</span></label>
                        <input class="form-control" type="email" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password<span class="text-danger">*</span></label>
                        <input class="form-control" type="password" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Add" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts {
    <script>
    $(function () {
            $('.datepicker').datepicker();
        })</script>

}
