@{
    ViewData["Title"] = "VicertHIS";
}
<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to HIS</h1>
    <h4 class="text-center mb-4">What can you expect here?</h4>
    <div class="container-fluid">
        <ul class="list-unstyled">
            <li class="mb-2">Depending on the role your experience will be different</li>
            <li class="mb-2">Login page - if you are patient, doctor or technician you can login with your credentials here.</li>
            <li class="mb-2">Patient page - if you are a doctor or technician you can see list of patients and details of them. As a technician you can register, update and delete patient, schedule appointment for patient.</li>
            <li class="mb-2">Doctor page - as a patient you can see list of your doctors and details about them. As a technician you can register, delete and update doctor, create and schedule appointments.</li>
            <li class="mb-2">Appointment page - as a technician you can see details about appointment, you can update and delete appointment. As a doctor you can see list of your appointments that have not been completed. As a patient you can see list of your doctors.</li>
            <li class="mb-2" style="font-weight: 500;">Enjoy!</li>
        </ul>
    </div>
</div>